<div class="section-wrapper">
    <section class="section pubs" id="pres">
        <div id="pubs-text">
            <div class="section-heading">Presentations</div>
		<ul class="paragraph-text justify-text">
			<li><strong> Vietnam Education Foundation (VEF) Conference, San Diego (2022) </strong>. 
"Bayesian Estimation of a Semi-parametric Recurrent Event Model of Multiple Cancer Types for Personalized Risk Prediction in Cancer Survivors". Poster presentation.</li>
			<li><strong> Joint Statistical Meeting (JSM), Washington DC (2022) </strong>. 
"Bayesian Estimation of a Semi-parametric Recurrent Event Model of Multiple Cancer Types for Personalized Risk Prediction in Cancer Survivors". Oral presentation.</li>
			<li><strong> ClinGen Meeting, virtual (2021) </strong>. 
"Bayesian Estimation of a Joint Semi-parametric Recurrent Event Model of Multiple Cancer Types with Applications to the Li-Fraumeni Syndrome". Poster presentation.</li>
			<li><strong> ENAR, virtual (2020) </strong>.
"Branching Process Models of Mutations with Applications to Evolution of Cancer". Oral presentation.</li>
			<li><strong> Rice Data Science Workshop, Rice University (2020) </strong>. 
"Air Pollution During the Covid-19 Pandemic". Oral presentation. </li>
			<li><strong> Rice Data Science Workshop, Rice University (2019) </strong>. 
"Statistical Learning With Applications To Asteroid Data". Poster presentation. </li>
		</ul>
        </div>
    </section>
</div>
